
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminF/Views/Shared/_AdminLayout.cshtml";
}
<h1><img  style="width:20%" src="~/assets/images/slider/@Model.Image"/></h1>
<p>@Model.Title</p>
<p>@Model.Desc</p>

<a asp-area="AdminF" asp-controller="Slider" asp-action="Index" class=" btn btn-dark">Back</a>

